# http://editorconfig.org
root = true

[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[*.json]
indent_style=space
indent_size=2

[*.{kt,kts}]
# There are disabled ("too strict") ktlint checks.
# If you want to disable rule, but don't know its name - try to find most relevant rule-class here and then take rule name from class constructor:
# https://github.com/pinterest/ktlint/tree/master/ktlint-ruleset-standard/src/main/kotlin/com/pinterest/ktlint/ruleset/standard
disabled_rules=no-wildcard-imports,import-ordering,final-newline